.header-container {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.15s linear;
    cursor: pointer;
}

.nav-menu li a:hover {
    color: rgb(138, 29, 29);
}

.register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
}

.register-button:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 86, 179, 0.3);
}

.register-button:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 64, 133, 0.2);
}

.myProfile {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.profile-menu-container {
    position: relative;
    display: inline-block;
}
